@import "colors.scss";
@import "fonts.scss";

$max-width: 1600px;

html {
    font-size: 16px;
}

body {
    background-color: black;
    color: $off-white;
    font-family: $serif;
}

h1 {
    margin: 0;
    font-weight: 400;
}