@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// $serif: "Source Serif Pro", serif;
// $serif: ltc-caslon-pro, serif;
// $serif: essonnes-headline, serif;
// $serif: freight-big-pro, serif;
// $serif: adobe-garamond-pro, serif;
$serif: garamond-premier-pro-display, serif;
$sans: "Soleil", sans-serif;
$mono: "Source Code Pro", monospace;