@import url("https://use.typekit.net/hfp7dqr.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$serif: "Source Serif Pro", serif;
$sans: "Soleil", sans-serif;
$mono: "Source Code Pro", monospace;