$gradient1colors: -webkit-linear-gradient(45deg, rgba(2,211,232,1) 0%, rgba(235,94,72,1) 100%);

@mixin gradient {
  background: -webkit-linear-gradient(45deg, rgba(2,211,232,1) 0%, rgba(235,94,72,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

$gradient2colors: -webkit-linear-gradient(23deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

@mixin gradient2 {
  background: rgb(34,193,195);
  background: -webkit-linear-gradient(23deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


