$header-height: 60px;

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $header-height;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
}