@use "gradients";
@import "gradients.scss";
@import "all.scss";
@import "fonts.scss";
@import "header.module.scss";

.mainContainer {
    width: 90%;
    max-width: $max-width;
    margin: 0 auto;
}

span {
    @include gradients.gradient;
    font-weight: 400;
}

.hero {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroTextContainer {
    width: 40%;
}

.heroText {
    transform: translateY(-3rem);
    font-size: min(80px, 5.5vw);
    font-weight: 300;
}

.heroImageContainer {
    max-height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    img {
        max-width: 100%;
        object-fit: scale-down;
        margin-bottom: 2em;
    }

    p {
        font-family: $mono;
        margin: 0;
        font-size: 0.8vw;
        color: #707070;
    }
}

.section {
    margin-top: 3rem;
    margin-bottom: 3rem;

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 300;
        width: min(110ch, 90%);
        margin: 2rem auto;
    }

    p {
        font-family: $sans;
        text-align: justify;
        margin: 2rem auto;
        width: min(110ch, 90%);
        font-size: 1.1rem;
    }

    a {
        @include gradients.gradient;
    }

    a:hover {
        @include gradients.gradient;
        border-bottom: 3px solid transparent;
        border-image: $gradient1colors;
        border-image-slice: 1;
    }
}

.pastProjects {
    text-align: left;
    margin: 1rem auto;
    width: 70%;
}

.sponsorsTable {
    td {
        width: 50%;
        padding: 2rem 7.5%;
    }

    img {
        width: 100%;
    }
}